

/*///
Overriding button colors in statcic and hover states making all borders black
info=yellow, danger=red, success = green, primary and warning are purple, But warning is oval, primary is buttons are truncated at the ends and only used as build story and retuen to TOC buttons.
 default remains white,
///////////*/

.btn-default:hover {
  border-color: black;
  border-width: 6px;
}

.btn-warning {
  background-color: rgba(255, 204, 0, 0.99);
}

.btn-warning:hover {
  background-color: rgba(247, 203, 0, 0.86);
  border-color: black;
  border-width: 6px;
}

.btn-danger {
  background-color: #b91200;
}

.btn-danger:hover {
  background-color: #982e3b;
  border-color: black;
  border-width: 6px;
}

.btn-success {
  background-color: #009900;
}
.btn-success:hover {
  background-color: #006600;
  border-color: black;
  border-width: 6px;
}

.btn-primary, .btn-info{
  background-color: #43009B;
}

.btn-primary:hover, .btn-info:hover {
  background-color: rebeccapurple;
  border-color: black;
  border-width: 6px;
}

.btn.active {
  background-color: red;
}

/*

.pt-perspective {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}

.pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.pt-page-moveToTop {
  -webkit-animation: moveToTop .6s ease both;
  animation: moveToTop .6s ease both;
}

.pt-page-moveFromTop {
  -webkit-animation: moveFromTop .6s ease both;
  animation: moveFromTop .6s ease both;
}

.pt-page-moveToBottom {
  -webkit-animation: moveToBottom .6s ease both;
  animation: moveToBottom .6s ease both;
}
*/
