body{
  text-align: center;
}

form, input {
  font-size: 1.95em;
  padding-left: 4px;
  padding-top: 4px;
}

form {
  width: 85%;
  border-color: blue;
  border-width: 3px;
  border-style: inset;
  background-color:rgba(241, 241, 212, 0.98);
  padding-top: 20px;
  padding-bottom: 12px;

}
form {
-webkit-box-shadow: 5px 5px 3px 0px #ddd;
-moz-box-shadow: 5px 5px 3px 0px #ddd;
box-shadow: 12px 12px 11px 0px rgb(36, 188, 236);
}
/*input {
  font-size: 3em;
}*/
 h1 {
  color: red;
 }


