body{
  text-align: center;
}

form, input {
  font-size: 1.95em;
  padding-left: 4px;
  padding-top: 4px;
}

form {
  width: 100%;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  background-color: rgba(98, 160, 219, 0.98); /* dkgreen 76,174, 76,1 93,249,37,1*/
  padding-top: 20px;
  padding-bottom: 12px;
  border-radius: 5%;

}
/*form {
-webkit-box-shadow: 11px 5px 3px 0px #ddd;
-moz-box-shadow: 5px 5px 3px 0px #ddd;
box-shadow: 12px 12px 11px 0px rebeccapurple;
}*/

input{
  background-color:white; /*rgba(70, 184, 218, 0.95);*/
  color: #43009b;
  border-color: black;
  border-width:4px;
}
input:focus{
  background-color: #43009b;
  color: white ;
}

