body {
  background-color: rgb(27, 27, 63);
}

#page {
  background-color: rgba(241, 241, 212, 0.98);
  font-size: 3em;
  margin-top: 10px;
  border-radius: 6px;
  padding-bottom: 12px;
  /*border-top-left-radius:6% 30%;
  border-top-right-radius:6% 30%;*/
  text-align: left;
}

/* Style for the end */
 .end {
  text-align: center;
  font-weight: bold;
 }
