
 ul, li{
  list-style-type: none;
  padding-right: 4px;
  text-align: center;
 }

/*button {
  font-size: 3em;
}
*/
.btn-info, .btn-success, .btn-warning, .btn-danger {
  font-size: 1.95em;
  text-shadow: black;
  text-align: center;
}

#toc_button {
  text-align: center;
}
