<div class="row" ng-show='myForm'>
  <div class='col-md-2'></div>
    <div class='col-md-8' id='formpage'>
      <h1>Got what?</h1>
      <form class='form-group' id='litte_buddy'>
      <div class='col-md-4'>
        What is your name?
      </div>
      <div>
       <input type='text' name='' ng-model='story.name' autofocus>
      </div><br>
      <div class='col-md-4'>
        Excalmation
      </div>
      <div>
       <input type='text' name='' ng-model='story.excalmation' autofocus>
      </div><br>
      <div class='col-md-4'>
       What is your favorite animal?
      </div>
      <div>
        <input type='text' ng-model='story.animal'>
      </div><br>
      <div class='col-md-4'>
        Another Animal
      </div>
      <div>
        <input type='text' ng-model='story.animal2'>
      </div><br>
      <div class='col-md-4'>
        Something you buy in large amounts
      </div>
      <div>
        <input type='text' ng-model='story.buy'>
      </div><br>
      <div class='col-md-4'>
        A job (fireman, teacher, other)
      </div>
      <div>
        <input type='text' ng-model='story.job'>
      </div><br>
      <div class='col-md-4'>
        Name a cartoon Character
      </div>
      <div>
        <input type='text' ng-model='story.toon'>
      </div><br>
      <div class='col-md-4'>
      What is your Favorite color?
      </div>
      <div>
        <input type='text' ng-model='story.color'>
      </div><br>
      <div class='col-md-4'>
      A container (Something you put stuff in) (plural)
      </div>
      <div>
        <input type='text' ng-model='story.container'>
      </div><br>
      <div class='col-md-4'>
      A place you like to go.
      </div>
      <div>
        <input type='text' ng-model='story.place'>
      </div><br>


      <button ng-click='buildStory()' class='btn btn-primary' id='build'>Build your story</button>
      </form>
    </div>
  <div class='col-md-2'></div>

</div><!--END OF USER INPUT FORM -->

<div class="row" ng-show='myStory'>
    <h1>Fun in the Blanks</h1>
  <div class='col-md-2'></div>

  <div class='col-md-8' id='page'>
    <h1><b>{{story.name}}</b>'s Got what?</h1>
    {{story.excalmation}}, {{story.excalmation}}, a {{story.color}} {{story.animal}},<br>
    Have you any {{story.buy}}?<br>
    Three {{story.container}} full,<br>
    One for my {{story.animal2}},<br>
    One for the {{story.job}},<br>
    One for {{story.toon}}<br>
    Who lives over at {{story.place}}.</br>
    <div class='end'>The End</div>
<!--     <button ng-click='windowprint()'>Print Story</button> -->
  <div class='button'><button ng-click='tableContents()' class='btn-primary'>Return to Table of Contents</button></div>
  </div>
  <div class='col-md-2'></div>
</div>
