<!DOCTYPE HTML>
<html>
  <head>

    <link rel="stylesheet" type="text/css" href='../css/form.css'>
  </head>

  <body>
    <div class="container-fluid"><!--Main Div-->

    <div class="row">
      <div class='col-md-2'></div>
      <div class='col-md-8' id='formpage'>
        <h1>The beanstalk</h1>
        <form class='form-group' id='litte_buddy'>
        What is your name? <input type='text' name='' ng-model='story.name'><br>
        What is your favorite animal? <input type='text' ng-model='story.animal'><br>
        Name a kind of building.<input type='text' ng-model='story.building'><br>
        Name a big tool.<input type='text' ng-model='story.tool'><br>
        Name a fun action<input type='text' ng-model='story.action'><br>


        <button ng-click=buildStory2() ng-class='btn-success'>Build your story</button>
        </form>
      <div class='col-md-2'></div>

      </div><!--end row -->
    </div><!-- close main div-->
  </body>

</html>
