<div class="row" ng-show='myForm'>
  <div class='col-md-2'></div>
    <div class='col-md-8' id='formpage'>
      <h1>The beanstalk</h1>
      <form class='form-group' id='litte_buddy'>
      <div class='col-md-4'>
        What is your name?
      </div>
      <div>
        <input type='text' name='' ng-model='story.name' autofocus>
      </div><br>
      <div class='col-md-4'>
        What is your favorite animal?
      </div>
      <div>
        <input type='text' ng-model='story.animal'>
      </div><br>
      <div class='col-md-4'>
        Name a kind of building.
      </div>
      <div>
        <input type='text' ng-model='story.building'>
      </div><br>
      <div class='col-md-4'>
        Name a tool or kitchen utensil
      </div>
      <div>
        <input type='text' ng-model='story.tool'>
      </div><br>
      <div class='col-md-4'>
        Verb a fun activity (past tense)
      </div>
      <div>
        <input type='text' ng-model='story.action'>
      </div><br>
      <div class='col-md-4'>
       Verb (past tense)
      </div>
      <div>
        <input type='text' ng-model='story.action2'>
      </div><br>


      <button ng-click='buildStory()' class='btn-warning' id='build'>Build your story</button>
      </form>
    </div>
  <div class='col-md-2'></div>

</div><!--end of user input form -->

<div class="row" ng-show='myStory'>
  <h1>Fun in the Blanks</h1>
  <div class='col-md-2'></div>
  <div class='col-md-8' id='page'>
    <h1><b>{{story.name}}</b> and the Beanstalk</h1>
    <p>One day <b>{{story.name}}</b> planted some magic beans. Overnight the beans grew into a giant beanstalk that stretched into the clouds. <b>{{story.name}}</b> climbed the beanstalk and saw a huge {{story.building}}.
    <P> <b>{{story.name}}</b> {{story.action}} into the {{story.building}} and saw a {{story.color}} {{story.animal}} trapped in a large cage. The {{story.animal}} looked very sad. So <b>{{story.name}}</b> decided to free it.
    <P> As <b>{{story.name}}</b> was opening the cage, The Giant {{story.action2}} into the room. <b>{{story.name}}</b> grabbed the {{story.animal}} and ran through the Giant's legs and out the door. The Giant chased them to the beanstalk. But <b>{{story.name}}</b> was too fast and slid down the beanstalk. Once at the bottom <b>{{story.name}}</b> grabbed a {{story.tool}} and chopped down the beanstalk so the Giant could not follow.</p>

    <div class='end'>The End</div>

    <div class='button'><button ng-click='tableContents()' class='btn btn-primary'>Return to Table of Contents</button></div>
    </div>
  <div class='col-md-2'></div>

</div><!--end row -->
