<div class="row" ng-show='myForm'>
  <div class='col-md-2'></div>
    <div class='col-md-8' id='formpage'>
      <h1>The beanstalk</h1>
      <form class='form-group' id='litte_buddy'>
      <div class='col-md-4'>
        What is your name?
      </div>
      <div>
        <input type='text' name='' ng-model='story.name'>
      </div><br>
      <div class='col-md-4'>
        What is your favorite animal?
      </div>
      <div>
        <input type='text' ng-model='story.animal'>
      </div><br>
      <div class='col-md-4'>
        Name a kind of building.
      </div>
      <div>
        <input type='text' ng-model='story.building'>
      </div><br>
      <div class='col-md-4'>
        Name a big tool.
      </div>
      <div>
        <input type='text' ng-model='story.tool'>
      </div><br>
      <div class='col-md-4'>
        Name a exciting action
      </div>
      <div>
        <input type='text' ng-model='story.action'>
      </div><br>
      <div class='col-md-4'>
        Name a scary action
      </div>
      <div>
        <input type='text' ng-model='story.action2'>
      </div><br>


      <button ng-click='buildStory()' ng-class='btn-success'>Build your story</button>
      </form>
    </div>
  <div class='col-md-2'></div>

</div><!--end of user input form -->

<div class="row" ng-show='myStory'>
  <div class='col-md-2'></div>
  <div class='col-md-8' id='page'>
    <h1>{{name}}'s and the Beanstalk</h1>
    <p>One day {{story.name}} planted some magic beans. Overnight the beans grew into a giant beanstalk that streched into the clouds. {{story.name}} climbed the beanstalk and saw a huge {{story.building}}.
    <P> {{story.name}} {{story.action}} into the {{story.building}} and saw a {{story.color}} {{story.animal}} trapped in a large cage. The {{story.animal}} looked very sad. So {{story.name}} decided to free it.
    <P> As {{story.name}} was opening the cage, The Giant {{story.action2}} into the room. {{story.name}} grabbed the {{story.animal}} and ran through the Giant's legs and out the door. The Giant chased them to the beanstalk. But {{story.name}} was too fast and slid down the beanstalk. Once at the bottom {{story.name}} grabbed a {{story.tool}} and chopped down the beanstalk so the Giant could not follow.</p>

    <div class='end'>The End</div>
    <button ng-click='tableContents()' class='btn btn-info'>Return to Table of Contents</button>
    </div>
  <div class='col-md-2'></div>

</div><!--end row -->
