<h1 id='welcome'>Welcome to Fun in the Blanks</h1>
<div class="row">
  <div class='col-md-2'></div>
  <div class='col-md-8'id='rules'>
 <!--    <ul> removed the <li> for testing Replace if it doesnt look right-->
      <button class='btn btn-default btn-lg btn-block' ng-click='howto()'>How To Play</button>
      <h1 id='toc'>Table of Contents</h1>
      <button class='btn btn-info btn-lg btn-block lamb' ng-click='lambForm()' id='lamb'>Little Buddy</button>
      <button class="btn btn-danger btn-lg btn-block" ng-click='threelittleForm()'>Little Critters</button>
      <button class="btn btn-warning btn-lg btn-block" ng-click='beanstalkForm()'>The Beanstalk</button>
      <button class="btn btn-success btn-lg btn-block" ng-click='classicForm()'>A Foodie's Tale</button>
      <button class='btn btn-info btn-lg btn-block' ng-click='midasForm()'>Don't Touch</button>
      <button class="btn btn-danger btn-lg btn-block" ng-click='baaForm()'>Got Something?</button>
      <!-- <button ng-click='homePage()' class='btn btn-info btn-lg btn-block'>Return to Main Page</button> -->
     <!--  </ul> -->
  </div>
  <!-- <div class='col-md-4'></div> -->
</div><!--end row -->
