<!DOCTYPE HTML>
<html>
  <head>

    <link rel="stylesheet" type="text/css" href='../css/form.css'>
    <link rel="stylesheet" type="text/css" href='../css/toc.css'>

  </head>

  <body>
    <div class="container-fluid"><!--Main Div-->

      <div class="row">
        <div class='col-md-2'></div>
        <div class='col-md-8, btn-group-vertical' role="group"id='tableOfContents'>
          <h1>Table of Contents</h1>
          <ul>
            <li><button class="btn btn-success btn-lg" ng-click=lambForm()>Little Lamb</button></li>
            <li><button class="btn btn-danger btn-lg" ng-click=threelittleForm()>Little Pigs</button></li>
            <li><button class="btn btn-success btn-lg" ng-click=beanstalkForm()>The Beanstalk</button></li>
          </ul>
        <div class='col-md-2'></div>

      </div><!--end row -->
    </div><!-- close main div-->
  </body>

</html>



