<!DOCTYPE HTML>
<html>
  <head>

    <link rel="stylesheet" type="text/css" href='../css/form.css'>
    <link rel="stylesheet" type="text/css" href='../css/toc.css'>

  </head>

  <body>

          <h1>Table of Contents</h1>
          <ul>
            <li><button class="btn btn-success btn-lg btn-block" ng-click=lambForm()>Little Lamb</button></li>
            <li><button class="btn btn-danger btn-lg btn-block" ng-click=threelittleForm()>Little Pigs</button></li>
            <li><button class="btn btn-success btn-lg btn-block" ng-click=beanstalkForm()>The Beanstalk</button></li>
          </ul>

  </body>

</html>



