<h1>Fun in The Blanks</h1>
<div class="row">
  <div class='col-md-4'></div>
  <div class='col-md-4'>
  <h1 id='title'>How to Play</h1>

  <div id='rules'><b>Fun in the Blanks</b> is a creatvie game that allows you and a child create their own fairy tale story.<br>

<P>To play, open up any chapter. Ask the child for requested information in the prompts. Enter their answer. Tap the TAB key to go to the next blank., repeat untill all the blanks are filled. Once the form is filled out, click the "Build Your Story" button. The game will then take your words and put them into the story.
Since the story is hidden until the button is clicked you can play alone.
<P>Read the story with the child.

<div id='grammar'><b>Grammar</b>
  <ol>
    <li><strong>Adjective:</strong> A desciptive word that gives more detail about an item.</li>
    <li><strong>Adverb:</strong> Tells how something is done.</li>
    <li><strong>Excalmation:</strong>Wow!, D'oh!, Wozwers!</li>
    <li><strong>Location:</strong>A place</li>
    <li><strong>Noun:</strong> person, place, or thing.</li>
    <li><strong>Verb:</strong> An Action word.</li>
  </ol>
</div>

  <button ng-click='homePage()' class='btn btn-primary btn-lg toc_button '>Return to Main Page</button>

  </div><!--end of rules div -->

  </div>
  <div class='col-md-4'></div>
</div><!--end row -->

