<!DOCTYPE html>
<htmL>
  <head>
  <link rel='stylesheet' type='text/css' href='css/story.css'>
  </head>
  <body>

    <div class="container-fluid"><!--Main Div-->

      <div class='row'>
        <div class='col-md-2'></div>
        <div class="col-md-8">

          <h1>Welcome to Fun in the Blanks</h1>

          <button class='btn btn-warning btn-lg btn-block' ng-click='chapters()'>Chapters</button>
          <button class='btn btn-info btn-lg btn-block' ng-click='howto()'>How To Play</button>
        </div>
      </div>
    </div><!--end main -->
  </body>
</htmL>
