<div class="row" ng-show='myForm'>
  <div class='col-md-2'></div>
    <div class='col-md-8' id='formpage'>
      <h1>Three Little Critters</h1>
      <form class='form-group' id='litte_pig'>
      <div class='col-md-4'>
        What is your name?
      </div>
      <div>
        <input type='text' name='' ng-model='story.name' autofocus>
      </div><br>
      <div class='col-md-4'>
        Pick a number greater than 2.
      </div>
      <div>
        <input type='number' name='' ng-model='story.number'>
      </div><br>
      <div class='col-md-4'>
        What is your favorite animal(plural)?
      </div>
      <div>
        <input type='text' ng-model='story.animal'>
      </div><br>
      <div class='col-md-4'>
        Name a kind of building
      </div>
      <div>
        <input type='text' ng-model='story.building'>
      </div><br>
      <div class='col-md-4'>
        A different animal(singular)
      </div>
      <div>
        <input type='text' ng-model='story.biganimal'>
      </div><br>
      <div class ='col-md-4'>An action
      </div>
      <div>
        <input type='text' ng-model='story.action'>
      </div><br>


    <button ng-click='buildStory()' class='btn-success' id='build'>Build your story</button>
    </form>
  </div>
  <div class='col-md-2'></div>

</div><!--end row -->


<div class="row" ng-show='myStory'>
  <h1>Fun in the Blanks</h1>
  <div class='col-md-2'></div>
  <div class='col-md-8' id='page'>
    <h1>{{story.name}}'s' {{story.number}} {{story.animal}}</h1>
    <P>Once there were {{story.number}} {{story.animal}}. They built a brick {{story.building}}. The big bad {{story.biganimal}} tried to {{story.action}} down the {{story.building}}. But he couldn't and the {{story.number}} {{story.animal}} were safe.</P>
    <div class='end'>The End</div>

    <div class='button'><button ng-click='tableContents()' class='btn-primary'>Return to Table of Contents</button></div>

  </div>
  <div class='col-md-2'></div>

</div><!--end row -->
