<div class="row" ng-show='myForm'>
  <div class='col-md-2'></div>
    <div class='col-md-8' id='formpage'>
      <h1>Don't Touch That</h1>
      <form class='form-group' id='midas_story'>
      <div class='col-md-4'>
        What is your name?
      </div>
      <div>
       <input type='text' name='' ng-model='story.name' autofocus='autofocus'>
      </div><br>
      <div class='col-md-4'>
       A fun place.
      </div>
      <div>
        <input type='text' ng-model='story.place'>
      </div><br>
      <div class='col-md-4'>
        Name some kind of food.
      </div>
      <div>
        <input type='text' ng-model='story.food'>
      </div><br>
      <div class='col-md-4'>
      make a funny sound.
      </div>
      <div>
        <input type='text' ng-model='story.sound'>
      </div><br>
      <div class='col-md-4'>
      a noun.
      </div>
      <div>
        <input type='text' ng-model='story.noun'>
      </div><br>
      <div class='col-md-4'>
      A container.
      </div>
      <div>
        <input type='text' ng-model='story.container'>
      </div><br>


      <button ng-click='buildStory()' class='btn btn-warning' id='build'>Build your story</button>
      </form>
    </div>
  <div class='col-md-2'></div>

</div><!--END OF USER INPUT FORM -->

<!-- Change child to fairy so childteaches the king/animal a lesson   -->
<div class="row" ng-show='myStory'>
  <h1>Fun in the Blanks</h1>
  <div class='col-md-2'></div>
  <div class='col-md-8' id='page'>
    <h1>{{story.name}} in Don't Touch That.</h1>
    <p> {{story.name}}  loved {{story.food}}. {{story.name}} would spend hours in the {{story.place}} counting {{story.food}}. There were {{story.food}} in boxes, {{story.food}} in bags and {{story.food}} in bowls. </p>
    <p>One day {{story.name}} spotted a fairy in the {{story.place}}. {{story.name}} grabded a {{story.container}}
and crept up on the fairy. With a quick jump and a {{story.sound}}, caught the fairy in the {{story.container}}. The fairy asked to be freed. The only would if the fairy granted a wish. {{story.name}} he wish was for everthing {{story.name}} touched to turn to {{story.food}}.</p>
<P>The fairy agreeded, so {{story.name}} opened the {{story.container}} and the fairy flew up and said "Everything you touch will be turned to {{story.food}}". {{story.name}} tested the spell and touched a chair, it turned to {{story.food}}, touched a plant  it turned to {{story.food}}. Then {{story.name}} grabbed a soda cup it turned to {{story.food}}.
{{story.name}} was so happy and hugged the dog. The dog turned into {{story.food}}. No the cried. he beggged the fairy to save his dog. so the fairy undid the spell. <div class='end'>The End</div>
<!--     <button ng-click='windowprint()'>Print Story</button> -->

  <div class='button'><button ng-click='tableContents()' class='btn btn-primary'>Return to Table of Contents</button></div>
  </div>
  <div class='col-md-2'></div>
</div>
