<!DOCTYPE html>
<htmL>
  <head>
  <link rel='stylesheet' type='text/css' href='css/story.css'>
  </head>
  <body>
    <div class="container-fluid"><!--Main Div-->

      <div class="row">
        <div class='col-md-2'></div>
        <div class='col-md-8' id='page'>
          <h1>{{Name}}'s story</h1>
          One day {{Name}} planted some magic beans. Overnight the beans grew into a giant beanstalk that streched into the clouds. {{name}} climbed the beanstalk and saw a huge {{building}}. {{name}} {{action}} into the {{building}} and saw a {{color}} {{animal}} trapped in a large cage. The {{animal}} looked very sad. So {{name}} decided to free it. As {{name}} was opening the cage, The Giant {{action}} into the room. {{name}} grabbed the {{animal}} and ran through the Giant's legs and out the door. The Giant chased them to the beanstalk. But {{name}} was too fast and slid down the beanstalk. Once at the bottom {{name}} grabbed a {{tool}} and chopped down the beanstalk so the Giant could not follow.

          <h3>The End</h3>
          </div>
        <div class='col-md-'></div>

      </div><!--end row -->
    </div><!-- close main div-->
  </body>
</html>
