<!DOCTYPE html>
<htmL>
  <head>
  <link rel='stylesheet' type='text/css' href='css/story.css'>
  </head>
  <body>
    <div class="container-fluid"><!--Main Div-->

      <div class="row">
        <div class='col-md-2'></div>
        <div class='col-md-8' id='page'>
          <h1>Your story</h1>
          {{story.name}} had a little {{story.animal}} it's {{story.bodyPart}} were {{story.color}} as {{story.coloreditem}}. Every where {{story.name}} went, the {{story.animal}} was sure to {{story.action}}.
          </div>
        <div class='col-md-2'></div>

      </div><!--end row -->
    </div><!-- close main div-->
  </body>
</html>
