<!DOCTYPE html>
<htmL>
  <head>
  <link rel='stylesheet' type='text/css' href='css/story.css'>
  </head>
  <body>
    <div class="container-fluid"><!--Main Div-->

      <div class="row">
        <div class='col-md-2'></div>
        <div class='col-md-8' id='page'>
          <h1>{{Name}}'s' story</h1>
          Once there were {{number}} {{animal}}'s. They built a brick {{building}}. The big bad {{animal2}} tried to {{action}} down the {{building}}. But he couldn't and the {{number}} {{animal}}s were safe.
          </div>
        <div class='col-md-2'></div>

      </div><!--end row -->
    </div><!-- close main div-->
  </body>
</html>
